#####################################################################
# Acceleration sensor
#####################################################################

[input_shaper]
shaper_freq_x: 56.2
shaper_freq_y: 43.0
shaper_type: mzv
#   Available shapers are zv, mzv, zvd, ei, 2hump_ei, and 3hump_ei.
#   The default is mzv input shaper.
#shaper_type_x:
#shaper_type_y:
#damping_ratio_x: 0.1
#damping_ratio_y: 0.1
#   Damping ratios of vibrations of X and Y axes used by input shapers to
#   improve vibration suppression. Should not be changed without some proper
#   measurements, e.g. with an accelerometer.
#   Default value is 0.1 which is a good all-round value for most printers.

[adxl345]
#spi_bus: spi3
#cs_pin: PA15
#######################
cs_pin: turbocan:PB12
#######################
axes_map: y,-z,x

[resonance_tester]
accel_chip: adxl345
probe_points:
    150,150,20
